<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <client>
            <endpoint address="http://localhost/IDNumeric/basic" binding="basicHttpBinding"
                bindingConfiguration="" contract="IDService.INumericIDWS"
                name="basicWS" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Brilliantech.Packaging.WS.PackProcess">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" contract="Brilliantech.Packaging.WS.IPackProcess"
                    listenUriMode="Explicit" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/packageService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="NewBehavior0" name="Brilliantech.Packaging.WS.PrintService">
                <clear />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
                    listenUriMode="Explicit" />
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration=""
                    contract="Brilliantech.Packaging.WS.IPrintService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/labelService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
