<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Brilliantech.Packaging.Store.Data.Properties.Settings.Leoni_Packaging_prodConnectionString"
            connectionString="Data Source=WANGSONG-PC;Initial Catalog=Leoni_Packaging_prod;Persist Security Info=True;User ID=sa;Password=wangsong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
