<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Large_buffer" maxBufferSize="655360000" maxBufferPoolSize="655360000"
                    maxReceivedMessageSize="655360000">
                    <readerQuotas maxDepth="655360000" maxStringContentLength="655360000"
                        maxArrayLength="655360000" maxBytesPerRead="655360000" maxNameTableCharCount="655360000" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SvcBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SvcBehavior" name="Brilliantech.Packaging.WS.PackProcess">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="Large_buffer"
                    contract="Brilliantech.Packaging.WS.IPackProcess" listenUriMode="Explicit">
                    
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9000/packageService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="SvcBehavior" name="Brilliantech.Packaging.WS.PrintService">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="Large_buffer"
                    contract="Brilliantech.Packaging.WS.IPrintService" listenUriMode="Explicit">
                   
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9000/labelService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
