<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Brilliantech.Packaging.UI.WorkStation.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brilliantech.Packaging.UI.WorkStation.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Brilliantech.Packaging.WS.PackProcess">
                <clear />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
                    listenUriMode="Explicit" />
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration=""
                    contract="Brilliantech.Packaging.WS.IPackProcess" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/packageService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="NewBehavior0" name="Brilliantech.Packaging.WS.PrintService">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" contract="Brilliantech.Packaging.WS.IPrintService"
                    listenUriMode="Explicit" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/labelService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPackProcess" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="835345345" maxBufferPoolSize="835345345" maxReceivedMessageSize="835345345"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="835345345" maxStringContentLength="835345345"
                        maxArrayLength="835345345" maxBytesPerRead="835345345" maxNameTableCharCount="835345345" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IPrintService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="835345345" maxBufferPoolSize="835345345" maxReceivedMessageSize="835345345"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="835345345" maxStringContentLength="835345345"
                        maxArrayLength="835345345" maxBytesPerRead="835345345" maxNameTableCharCount="835345345" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IPrintService1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="835345345" maxBufferPoolSize="835345345" maxReceivedMessageSize="835345345"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="835345345" maxStringContentLength="835345345"
                        maxArrayLength="835345345" maxBytesPerRead="835345345" maxNameTableCharCount="835345345" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IPackProcess1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPrintService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="835345345" maxReceivedMessageSize="835345345"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="835345345" maxStringContentLength="835345345"
                        maxArrayLength="835345345" maxBytesPerRead="835345345" maxNameTableCharCount="835345345" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/labelService/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintService1"
                contract="LabelDataService.IPrintService" name="BasicHttpBinding_IPrintService" />
            <endpoint address="http://localhost:8080/packageService/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackProcess1"
                contract="PackService.IPackProcess" name="BasicHttpBinding_IPackProcess" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Brilliantech.Packaging.UI.WorkStation.MySettings>
            <setting name="endPointConfige" serializeAs="String">
                <value>BasicHttpBinding_IPackProcess</value>
            </setting>
            <setting name="remoteAddress" serializeAs="String">
                <value>http://localhost/PackageService</value>
            </setting>
            <setting name="remoteAddress_Print" serializeAs="String">
                <value>http://localhost/PrintService</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>HP LaserJet P1007AAA</value>
            </setting>
            <setting name="LabelFolder" serializeAs="String">
                <value>Template</value>
            </setting>
            <setting name="endPointConfig_Print" serializeAs="String">
                <value>BasicHttpBinding_IPrintService</value>
            </setting>
            <setting name="autoCloseInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="subscriberName" serializeAs="String">
                <value />
            </setting>
            <setting name="restartInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PackagingType" serializeAs="String">
                <value>0</value>
            </setting>
        </Brilliantech.Packaging.UI.WorkStation.MySettings>
    </userSettings>
    <applicationSettings>
        <Brilliantech.Packaging.UI.WorkStation.MySettings>
            <setting name="syncInterval" serializeAs="String">
                <value>60000</value>
            </setting>
        </Brilliantech.Packaging.UI.WorkStation.MySettings>
    </applicationSettings>
</configuration>
